name: Build examples by platform

## Caller of this workflow should use it as follows:
## jobs:
##   build:
##     uses: flutter-form-builder-ecosystem/.github/.github/workflows/build-examples.yaml@main

on:
  workflow_call:
    inputs:
      fvm-flavor:
        type: string
        description: 'Name of fvm flavor. Tipically a channel name. By default: stable'
        default: stable
      enable-generate-l10n:
        type: boolean
        description: 'Enable generate l10n. By default false'
        default: false
  
jobs:
  example:
    name: Build examples for Android, iOS, and MacOS
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1 # Use shallow clone for faster checkout
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Setup Flutter
        uses: kuhnroyal/flutter-fvm-config-action/setup@v3
        with:
          path: '.fvmrc'
          cache-key: "flutter-:os:-:channel:-:version:"
          flavor: ${{ inputs.fvm-flavor }}
      - name: Install dependencies
        run: flutter pub get
      - name: Run l10n
        if: ${{ inputs.enable-generate-l10n }}
        run: flutter gen-l10n
      - name: Run l10n on example
        if: ${{ inputs.enable-generate-l10n }}
        run: flutter gen-l10n
        working-directory: example
      - name: Build examples
        working-directory: example
        run: |
          flutter build appbundle --debug
          flutter build ios --debug --no-codesign
          flutter build macos
  example-windows:
    name: Build example on Windows
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1 # Use shallow clone for faster checkout
      - name: Setup Flutter
        uses: kuhnroyal/flutter-fvm-config-action/setup@v3
        with:
          path: '.fvmrc'
          cache-key: "flutter-:os:-:channel:-:version:"
          flavor: ${{ inputs.fvm-flavor }}
      - name: Install dependencies
        run: flutter pub get
      - name: Run l10n
        if: ${{ inputs.enable-generate-l10n }}
        run: flutter gen-l10n
      - name: Run l10n on example
        if: ${{ inputs.enable-generate-l10n }}
        run: flutter gen-l10n
        working-directory: example
      - name: Build example
        working-directory: example
        run: flutter build windows
  example-linux:
    name: Build example on Linux and Web
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1 # Use shallow clone for faster checkout
      - name: Setup Flutter
        uses: kuhnroyal/flutter-fvm-config-action/setup@v3
        with:
          path: '.fvmrc'
          cache-key: "flutter-:os:-:channel:-:version:"
          flavor: ${{ inputs.fvm-flavor }}
      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake git ninja-build pkg-config libgtk-3-dev liblzma-dev libstdc++-12-dev
      - name: Install dependencies
        run: flutter pub get
      - name: Run l10n
        if: ${{ inputs.enable-generate-l10n }}
        run: flutter gen-l10n
      - name: Run l10n on example
        if: ${{ inputs.enable-generate-l10n }}
        run: flutter gen-l10n
        working-directory: example
      - name: Build examples
        working-directory: example
        run: |
          flutter build linux
          flutter build web --base-href "/${{ github.event.repository.name }}_website/"
      - name: Archive web artifacts
        if: ${{ github.ref_type == 'tag' }}
        uses: actions/upload-artifact@v4
        with:
          name: web-app
          path: example/build/web/
          retention-days: 1
