name: Deployment

## Caller of this workflow should use it as follows:
## jobs:
##   deployment:
##     uses: flutter-form-builder-ecosystem/.github/.github/workflows/deployment.yml@main

on:
  workflow_call:
    inputs:
      enable-generate-l10n:
        type: boolean
        description: 'Enable generate l10n. By default false'
        default: false
  
jobs:
  deployment:
    if: ${{ github.ref_type == 'tag' }}
    name: Deploy package
    permissions:
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1 # Use shallow clone for faster checkout
      - uses: dart-lang/setup-dart@v1
      - name: Setup Flutter
        uses: kuhnroyal/flutter-fvm-config-action/setup@v3
        with:
          path: '.fvmrc'
          cache-key: "flutter-:os:-:channel:-:version:"
      - name: Run l10n
        if: ${{ inputs.enable-generate-l10n }}
        run: flutter gen-l10n
      - name: Run l10n on example
        if: ${{ inputs.enable-generate-l10n }}
        run: flutter gen-l10n
        working-directory: example
      - name: Publish package
        run: dart pub publish -v -f
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
  deployment-web:
    if: ${{ github.ref_type == 'tag' }}
    name: Deploy example to website
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
